* {
   outline: 1px solid red !important;
}

* {
    /* browser compatibility */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    /* standard */
    box-sizing: border-box; /* size of the box will remain the same regardless of border, padding, margin, tweaks */
}

.screenshot {
    max-width: 460px;
    margin-right: 24px;
}

.description {
    max-width: 705px;
}

.app {
    display: -webkit-flex;
    display: flex;
}

.title {
    background-color: #33BEBE;
}